<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="favicon.png">
    <title>Java Script: Advanced VUE</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="page">
    <header class="header">
        <div class="header__top container">
            <div class="header__top-left">
                <div class="header__brand render-main" @click="openPage(pages[0])">ShopVUE</div>
                <search-eq :goods="goods" :filtered-goods="filteredGoods"></search-eq>
            </div>
            <div class="header__top-right">
                <div class="header__cart cart_button" @click="isVisibleCart=!isVisibleCart">
                    <img src="img/cart.png" alt="Корзина">
<!--                    <span class="header__cart-count">{{cartQuantity}}</span>-->
                    <cart :icon="true" :cart-items="cart"></cart>
                </div>
                <nav-menu :type="'hamburger-icon'"></nav-menu>
                <!--                <div class="header__hamb" :class="{header__hamb_click:isMenuVisible}"
                 v-if="isVisibleHambIcon" @click="isMenuVisible=!isMenuVisible">-->
<!--                    <span></span>-->
<!--                    <span></span>-->
<!--                    <span></span>-->
<!--                </div>-->

                <cart :icon="false" :cart-items="cart" :error-box="errors" :query-server="getJSON"></cart>

            </div>
        </div>
        <nav class="header__menu_wrapper">
            <div class="container">
                <nav-menu :type="'top-menu'" :load-data="loadData" :pages="pages"></nav-menu>
            </div>
        </nav>
        <div class="header__line header__line_2"></div>
    </header>

    <main>
        <nav-menu :type="'bradcrumb'" :pages="pages"></nav-menu>

        <div class="container">
            <error-comp :error-messages="errors"></error-comp>

            <section class="page">
            <h1 class="page__header"></h1>
            <article class="page__content">
<!--                Главная страница -->
                <div class="product-none" v-if="pages[0].active">Добро пожаловать в интернет-магазин ShopVUE
                    <span>Интерфейс выполнен с применением движка Vue.js</span>
                    <div @click="openPage(pages[1])">Перейти в каталог товаров...</div>
                </div>


                <!--                Каталог товаров в верстке -->
                    <goods-list v-if="pages[1].active" :goods="filteredGoods" :cart-items="cart"
                                :error-box="errors" :query-server="getJSON">
                    </goods-list>

            </article>
            </section>
        </div>


    </main>

    <footer class="footer">
        <div class="footer__container container">
            <div class="footer__copyright">Copyright &copy; Evgeny Ivanov 2021</div>
            <div class="footer__logo">Java Script Advanced VUE</div>
        </div>
    </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="errors.js"></script>
    <script src="cart.js"></script>
    <script src="search.js"></script>
    <script src="calalog.js"></script>
    <script src="pages.js"></script>
    <script src="main.js"></script>

</body>

</html>