<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java Script: Advanced VUE</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="page">
    <header class="header">
        <div class="header__top container">
            <div class="header__top-left">
                <div class="header__brand render-main" @click="openPage(pages[0])">ShopVUE</div>
                <form  class="header__search" action="#" method="get" name="search" @submit.prevent="filterGoods">
                    <input type="search" value="" placeholder="Товар..." v-model.lazy="searchLine">
                    <button type="submit">&#128269;</button>
                </form>
            </div>
            <div class="header__top-right">
                <div class="header__cart cart_button" @click="isVisibleCart=!isVisibleCart">
                    <img src="img/cart.png" alt="Корзина">
                    <span class="header__cart-count">0</span>
                </div>
                <div class="header__hamb" :class="{header__hamb_click:isMenuVisible}" v-if="showHambIcon" @click="isMenuVisible=!isMenuVisible">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div v-if="isVisibleCart" class="header__cart-body">
                    <div class="header__cart-top">
                        <div class="header__cart-header">Корзина</div>
                        <div class="header__cart-close" @click="isVisibleCart=false">x</div>
                    </div>
                    <div class="cart__grid cart__grid_top">
                        <div class="cart__name">Товар</div>
                        <div class="cart__price">Цена</div>
                        <div class="cart__quantity">Кол-во</div>
                        <div class="cart__sum">Сумма</div>
                        <div class="cart__remove"></div>
                    </div>
                    <div id="cart">Добавьте товары в корзину из каталога</div>
                    <div class="cart__total">
                        <div class="cart__total-head">ИТОГО:</div>
                        <div class="cart__total-quantity" id="cart__quantity"></div>
                        <div class="cart__total-sum" id="cart__total"></div>
                        <div class="cart__total-button">Купить</div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        <nav class="header__menu_wrapper">
            <div class="container">
                <ul class="header__menu" v-if="isMenuVisible">
                    <li class="header__menu-item render-main"
                        v-for="item of pages" @click="openPage(item)" :key="item.name">{{ item.name }}</li>
<!--                    <li class="header__menu-item render-main">Каталог</li>-->
                </ul>
            </div>
        </nav>
        <div class="header__line header__line_2"></div>
    </header>

    <main>
        <div class="bradcrumb">
            <div class="bradcrumb__container container">
                <div class="bradcrumb__desc">Интернет-магазин&nbsp;VUE</div>
                <div class="bradcrumb__map"><span class="render-main" @click="openPage(pages[0])">{{ pages[0].name}}</span><span
                        class="bradcrumb__map_changable">{{ bradcrumb }}</span></div>
            </div>
        </div>
        <div class="container">
        <section class="page">
            <h1 class="page__header"></h1>
            <article class="page__content">

                <!--                Главная страница -->
                <div class="product-none" v-if="pages[0].active">Страница на разработке<br><br>Перейдите в каталог</div>


                <!--                Каталог товаров в верстке -->

                <div class="product-box" v-if="pages[1].active">
                    <div class="product-item" v-for="product of filteredGoods" :key="product.id_product">
                        <div class="product-item-in">
                            <h3 class="product-header">{{product.product_name}}</h3>
                            <div class="product-img">
                                <img :src=`img/${product.id_product}.png`>
                            </div>
                            <p class="product-price">{{product.price}}</p>
                        </div>
                        <div class="product-button">
                            <div class="product-button-buy buy-btn" @click="addToCart(product)">
                                <img src="img/cart.png">
                                Купить</div>
                        </div>
                    </div>
                    <div class="product-none" v-if="filteredGoods.length==0">Не найдено!</div>
                </div>



            </article>
        </section>
        </div>

    </main>

    <footer class="footer">
        <div class="footer__container container">
            <div class="footer__copyright">Copyright &copy; Evgeny Ivanov 2021</div>
            <div class="footer__logo">Java Script Advanced VUE</div>
        </div>
    </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <script>

        const app = new Vue({
           el: "#page",
           data:{
               // подготовка страницы
               pages:[
                   {name:"Главная",active:true},
                   {name:"Каталог",active:false},
               ],
               bradcrumb:"",
               isVisibleCart:false,
               showHambIcon:false,
               isMenuVisible:true,
               menuIconClasses:"header__hamb",
               // Работа с каталогом товаров
               API: 'https://raw.githubusercontent.com/GeekBrainsTutorial/online-store-api/master/responses',
               goods:[],
               searchLine:"",
               filteredGoods:[],
           },
           methods:{
               openPage(item){
                   this.bradcrumb = item.name=="Главная"? "" : " / " + item.name;
                   this.pages.forEach(page=>{page.active=(page.name==item.name)?page.active=true: page.active=false});
                   switch (item.name){
                       case "Каталог":
                           this.getJSON(this.API+"/catalogData.json")
                                .then(data => {
                                    this.goods=[...data];
                                    this.filteredGoods=[...this.goods];
                                });
                           break;
                   }
                   if(this.showHambIcon) this.isMenuVisible=false;
               },

               getJSON(url){
                   return fetch(url)
                            .then(result=>result.json())
                            .catch(error=>console.log(error));
               },

               filterGoods(){
                   this.searchLine=this.searchLine.trim().toLowerCase();
                   if (!this.pages[1].active) return;
                   const pattern=new RegExp(this.searchLine,"i");
                   this.filteredGoods = this.searchLine ? this.goods.filter(item=>pattern.test(item.product_name)) : this.filteredGoods=[...this.goods];
               },

               addToCart(product){
                   console.log(product);

               }

           },
           mounted(){
               console.log("Страница загружена!");
           }
        });

        function setMenuVisible() {
            if (window.innerWidth <= 768) {
                app.showHambIcon = true;
                app.isMenuVisible = false;
            } else {
                app.showHambIcon = false;
                app.isMenuVisible = true;
            }
        }
        window.addEventListener("resize",setMenuVisible);
        setMenuVisible();
    </script>

</body>

</html>