<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="favicon.png">
    <title>Java Script: Advanced VUE</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="page">
    <header class="header">
        <div class="header__top container">
            <div class="header__top-left">
                <div class="header__brand render-main" @click="openPage(pages[0])">ShopVUE</div>
                <search-eq @search-submit="filterGoods"></search-eq>
            </div>
            <div class="header__top-right">
                <div class="header__cart cart_button" @click="isVisibleCart=!isVisibleCart">
                    <img src="img/cart.png" alt="Корзина">
                    <span class="header__cart-count">{{cartQuantity}}</span>
                </div>

                <div class="header__hamb" :class="{header__hamb_click:isMenuVisible}" v-if="isVisibleHambIcon" @click="isMenuVisible=!isMenuVisible">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <cart :cart-items="cart"  @remove-cart="removeFromCart"></cart>

            </div>
        </div>
        <nav class="header__menu_wrapper">
            <div class="container">
                <ul class="header__menu" v-if="isMenuVisible">
                    <li class="header__menu-item render-main"
                        v-for="item of pages" @click="openPage(item)" :key="item.name">{{ item.name }}</li>
<!--                    <li class="header__menu-item render-main">Каталог</li>-->
                </ul>
            </div>
        </nav>
        <div class="header__line header__line_2"></div>
    </header>

    <main>
        <div class="bradcrumb">
            <div class="bradcrumb__container container">
                <div class="bradcrumb__desc">
                    Интернет-магазин&nbsp;VUE
                </div>
                <div class="bradcrumb__map"><span class="render-main" @click="openPage(pages[0])">{{ pages[0].name}}</span><span
                        class="bradcrumb__map_changable">{{ bradcrumb }}</span>
                </div>
            </div>

        <div class="container">
<!--            Сообщение об ошибке при загрузке данных-->
            <error-comp :error-messages="errors" @close="clearErrors"></error-comp>

            <section class="page">
            <h1 class="page__header"></h1>
            <article class="page__content">

                <!--                Главная страница -->
                <div class="product-none" v-if="pages[0].active">Добро пожаловать в интернет-магазин ShopVUE
                    <span>Интерфейс выполнен с применением движка Vue.js</span>
                    <div @click="openPage(pages[1])">Перейти в каталог товаров...</div>
                </div>


                <!--                Каталог товаров в верстке -->
                    <goods-list :goods="filteredGoods" @add-cart="addToCart" v-if="pages[1].active"></goods-list>

            </article>
        </section>
        </div>
        </div>

    </main>

    <footer class="footer">
        <div class="footer__container container">
            <div class="footer__copyright">Copyright &copy; Evgeny Ivanov 2021</div>
            <div class="footer__logo">Java Script Advanced VUE</div>
        </div>
    </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="components.js"></script>
    <script>

        const app = new Vue({
           el: "#page",
           data:{
               // подготовка страницы
               pages:[
                   {name:"Главная",active:true},
                   {name:"Каталог",active:false},
               ],
               bradcrumb:"",
               isVisibleCart:false,
               isVisibleHambIcon:false,
               isMenuVisible:true,
               // menuIconClasses:"header__hamb",
               // Работа с каталогом товаров
               API: 'https://evg226.github.io/JSAdvansed.VUE/data/',
               goods:[],
               // searchLine:"",
               filteredGoods:[],
               cart:[],
               errors:[] //ошибки при загрузке данных
           },
           methods:{
               clearErrors(){
                   this.errors=[];
               },
               openPage(item){
                   this.bradcrumb = item.name=="Главная"? "" : " / " + item.name;
                   this.pages.forEach(page=>{page.active=(page.name==item.name)?page.active=true: page.active=false});
                   switch (item.name){
                       case "Каталог":
                           // загрузка каталога
                           this.getJSON(this.API+"catalog.json")
                               .then(data => {
                                   this.goods=[...data];
                                   this.filteredGoods=[...this.goods];
                               })
                               .catch(error=> {
                                       this.errors.push("Ошибка при загрузке каталога товаров");
                                   }
                               );
                           break;
                   }
                   if(this.isVisibleHambIcon) this.isMenuVisible=false;
               },

               getJSON(url){
                   return fetch(url)
                            .then(result=>result.json())
                            .catch(error=>{
                                console.log(error);
                            });
               },

               filterGoods(searchLine){
                   if (!this.pages[1].active) return;
                   const pattern=new RegExp(searchLine,"i");
                   this.filteredGoods = searchLine ? this.goods.filter(item=>pattern.test(item.product_name)) : this.filteredGoods=[...this.goods];
               },

               addToCart(product){
                   //Здесь будет код по запросу на сервер с передачей id продукта и получением ответа об успехе добавления или изменения
                   let findItem=this.cart.find(cartItem=>product.id_product == cartItem.id_product);
                   if(findItem){
                       findItem.quantity++;
                   } else {
                       this.cart.push({...product, quantity:1});
                   }
               },

               removeFromCart(cartItem){
                   //Здесь будет код по запросу на сервер с передачей id продукта и получением ответа об успехе удаления
                   this.cart.splice(this.cart.indexOf(cartItem),1);
               }
           },
            computed:{
                cartQuantity(){
                    return this.cart.reduce((accum,item)=>accum+ +item.quantity,0);
                },
                cartTotal(){
                    return this.cart.reduce((accum,item)=>accum+ +item.quantity*item.price,0);
                }
            },
           mounted(){
               console.log("Страница загружена!");
               // Загрузка содержимого корзины
               this.getJSON(this.API+"cart.json")
                   .then(data => {
                       this.cart=[...data];
                   })
                   .catch(error=> {
                       this.errors.push("Ошибка при загрузке корзины");
                   });
           }
        });

        function setMenuVisible() {
            if (window.innerWidth <= 768) {
                app.isVisibleHambIcon = true;
                app.isMenuVisible = false;
            } else {
                app.isVisibleHambIcon = false;
                app.isMenuVisible = true;
            }
        }
        window.addEventListener("resize",setMenuVisible);
        setMenuVisible();
    </script>

</body>

</html>