* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside,
main {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea,
select {
  font-family: inherit; }

button {
  cursor: pointer; }

a,
a:visited,
a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top;
  border-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

.container {
  max-width: 1140px;
  min-width: 380px;
  margin: 0 auto;
  padding: 0 20px; }

body {
  font-family: Verdana, Tahoma, sans-serif;
  color: #3d3d3d; }

#page {
  display: grid;
  flex-direction: column;
  min-height: 100%;
  grid-template-rows: auto 1fr auto; }

.header__top {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px; }
  .header__top-left {
    display: flex;
    align-items: center; }
  .header__top-right {
    display: flex;
    align-items: center;
    position: relative; }
.header__brand {
  font-size: 2.5rem;
  font-weight: 600;
  cursor: pointer;
  color: #1620b1; }
.header__search {
  margin-left: 20px;
  display: flex;
  border: 1px solid #c6caff; }
  .header__search input {
    height: 30px;
    padding: 0 10px;
    color: #6b73eb;
    width: 100%; }
  .header__search button {
    height: 30px;
    width: 30px;
    border-left: 1px solid #c6caff; }
.header__cart {
  cursor: pointer;
  transition: all 0.3s ease;
  width: 60px;
  color: #ff4444;
  position: relative;
  padding: 10px;
  border-radius: 50%; }
  .header__cart img {
    width: 100%; }
  .header__cart:hover {
    transform: scale(1.1); }
  .header__cart-count {
    position: absolute;
    color: #ffffff;
    background: #ff4444;
    font-size: 0.9rem;
    top: -2px;
    right: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .header__cart-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c6caff; }
  .header__cart-header {
    font-size: 1.2rem;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 600; }
  .header__cart-close {
    font-size: 1.5rem;
    padding: 10px;
    cursor: pointer;
    transform: scale(1.3); }
    .header__cart-close:hover {
      transform: scale(1.5); }
  .header__cart-body {
    position: absolute;
    top: 65px;
    right: 0;
    min-width: 250px;
    min-height: 100px;
    border: 1px solid #b1b6ff;
    background: #ffffff;
    box-shadow: 0 0 10px #6b73eb;
    padding: 0 10px 10px 10px;
    color: #414ce4;
    z-index: 2; }
    .header__cart-body:before {
      content: "";
      width: 15px;
      height: 15px;
      transform: rotate(45deg);
      background: #ffffff;
      border-top: 1px solid #b1b6ff;
      border-left: 1px solid #b1b6ff;
      position: absolute;
      top: -8px;
      right: 20px; }
.header__menu {
  display: flex; }
  .header__menu_wrapper {
    background: #3840ad; }
  .header__menu-item {
    padding: 15px 20px;
    cursor: pointer;
    list-style-type: none;
    transition: all 0.5s ease;
    font-size: 1.1rem;
    color: #b1b6ff;
    line-height: 1.3rem; }
    .header__menu-item span {
      font-size: 0.9rem; }
    .header__menu-item:hover {
      color: #ffffff;
      font-weight: 500;
      background: #030a74; }
    .header__menu-item:first-child {
      padding-left: 0; }
      .header__menu-item:first-child:hover {
        background: inherit; }
.header__hamb {
  width: 30px;
  height: 35px;
  display: flex;
  z-index: 100;
  position: relative;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 10px 0 20px; }
  .header__hamb span {
    width: 30px;
    height: 2px;
    margin: 4px 0;
    background: #3d3d3d;
    transition: transform 0.5s ease; }
  .header__hamb:hover {
    transform: scale(1.3); }
  .header__hamb_click span:nth-child(2) {
    background: none; }
  .header__hamb_click span:first-child {
    transform: rotate(-45deg) translate(0px, 14px);
    background: #ffffff;
    width: 60%; }
  .header__hamb_click span:last-child {
    transform: rotate(45deg) translate(0px, -14px);
    background: #ffffff;
    width: 60%; }

.cart {
  padding: 10px; }
  .cart__grid {
    display: grid;
    grid-template-columns: 150px 60px 70px 90px 20px;
    grid-template-rows: 25px;
    align-items: center; }
    .cart__grid input {
      border: 1px solid #c6caff;
      padding: 2px 5px;
      color: inherit;
      margin-left: 12px; }
    .cart__grid_top {
      font-size: 1.05rem;
      grid-template-rows: 30px;
      color: #1725e6;
      border-bottom: 1px solid #c6caff;
      margin-bottom: 7px;
      background-color: #f4f4fc; }
    .cart__grid:hover {
      background: #f4f4fc; }
  .cart__name {
    margin-left: 5px; }
  .cart__price, .cart__sum, .cart__quantity {
    text-align: center; }
  .cart__remove {
    border-radius: 12px;
    padding: 4px 0;
    width: 20px;
    font-size: 0.6rem;
    text-align: center; }
  .cart__total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 0 10px; }
    .cart__total-head {
      margin-right: 20px; }
    .cart__total-quantity {
      margin-right: 20px; }
    .cart__total-sum {
      margin-right: 20px;
      color: #ff4444; }
    .cart__total-button {
      padding: 8px 20px;
      border: 1px solid #ff4444;
      color: #ff4444;
      cursor: pointer;
      transition: background 0.5s ease; }
      .cart__total-button:hover {
        background: #ff4444;
        color: #ffffff; }

.bradcrumb__container {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: #3840ad;
  border-bottom: 1px solid #c6caff; }
.bradcrumb__desc {
  font-weight: 600; }
.bradcrumb__map span {
  cursor: pointer; }
  .bradcrumb__map span:hover {
    color: #e44a4a; }

.page__header {
  color: #1620b1;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 20px 0; }

.footer {
  background: #030a74;
  color: #d6d4d4;
  margin-top: 40px; }
  .footer__container {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between; }

.product-box {
  display: flex;
  margin: -10px; }
.product-none {
  font-size: 2rem;
  color: #3840ad; }
.product-item {
  flex: 0 1 23%;
  border: 1px solid #b1b6ff;
  padding: 2% 0;
  margin: 1%;
  cursor: pointer;
  position: relative;
  background: #d9dbff;
  transition: all 0.5s ease; }
  .product-item-in {
    display: flex;
    flex-direction: column; }
  .product-item:hover .product-item-in {
    filter: brightness(50%); }
  .product-item:hover {
    box-shadow: 0 0 20px #6a7de6; }
    .product-item:hover .product-button {
      display: flex; }
.product-header {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: #3840ad; }
.product-img {
  margin: 20px 0; }
  .product-img img {
    width: 100%; }
.product-price {
  color: #ffffff;
  align-self: flex-end;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 20px;
  padding: 10px 20px;
  border-radius: 30px;
  background: #ff4444; }
.product-button {
  display: none;
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  justify-content: center; }
  .product-button-buy {
    cursor: pointer;
    color: #ff4444;
    background: #fff;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 24px;
    border: 1px solid #ff4444;
    transition: all 0.5s ease;
    border-radius: 30px;
    display: flex;
    align-items: center; }
    .product-button-buy img {
      height: 20px;
      margin-right: 10px;
      transition: all 0.7s ease; }
    .product-button-buy:hover {
      background: #e44a4a;
      color: #ffffff;
      transform: scale(1.1);
      border: 1px solid #fff; }
      .product-button-buy:hover img {
        filter: brightness(500%); }
.product__total {
  margin: 20px 0;
  display: flex;
  justify-content: flex-end;
  color: #ff4444;
  font-size: 1.5rem;
  font-weight: 600; }

.hamburger__desc {
  color: #3840ad;
  font-size: 1.5rem;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  color: #d12727; }
  .hamburger__desc span {
    font-size: 2rem;
    font-weight: 300; }
.hamburger__container {
  color: #3840ad;
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  margin: 0 -1.5%; }
.hamburger__group {
  display: flex;
  flex-direction: column;
  padding: 2% 1%;
  flex: 0 0 31%;
  justify-content: space-evenly; }
.hamburger__element {
  padding: 10px 0;
  cursor: pointer;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease;
  border-radius: 30px; }
  .hamburger__element input {
    position: absolute;
    left: 10px;
    top: 40%;
    transform: scale(1.7); }
  .hamburger__element img {
    width: 200px; }
  .hamburger__element-caption {
    font-size: 1.6rem;
    font-weight: 600;
    color: #4e5fc0; }
  .hamburger__element-params {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    color: #ff4444; }
  .hamburger__element span {
    margin-top: 10px; }
    .hamburger__element span:last-child {
      color: #3840ad; }
  .hamburger__element:hover {
    filter: brightness(75%); }
.hamburger__total {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: 1.1rem; }
  .hamburger__total-price {
    color: #ff4444;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.8rem; }
  .hamburger__total-calories {
    margin: 0 5%;
    color: #3840ad;
    line-height: 1.3rem; }
  .hamburger__total-order {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.5rem;
    background: #ff4444;
    color: #ffffff;
    box-shadow: 0 0 10px #3840ad; }
    .hamburger__total-order:hover {
      background: #882424; }

.callback__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 30px;
  max-height: 500px; }
.callback__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  justify-content: center; }
  .callback__item img {
    width: 70px;
    border-radius: 50%; }
  .callback__item div {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 60px 0 20px; }
  .callback__item span {
    color: #6b73eb; }
  .callback__item input, .callback__item textarea {
    border: 1px solid #b1b6ff;
    padding: 6px 12px;
    margin: 10px 0;
    color: #6b73eb;
    width: 100%; }
  .callback__item input[name="button"] {
    color: #ffffff;
    background: #4e5fc0;
    cursor: pointer;
    align-self: center;
    width: 50%;
    transition: all 0.5s ease; }
    .callback__item input[name="button"]:hover {
      background: #1620b1;
      transform: scale(1.2); }
  .callback__item textarea {
    resize: none;
    height: 150px; }

@media (max-width: 900px) {
  .product-box {
    flex-wrap: wrap; }
  .product-item {
    flex: 0 0 30%; }

  .hamburger__element input {
    left: 0; }

  .callback__form {
    max-height: none; } }
@media (max-width: 768px) {
  .header__menu {
    display: flex;
    position: absolute;
    flex-direction: column;
    right: 20px;
    top: 28px;
    padding: 27px 0 27px;
    background: #3840ad;
    box-shadow: 0 0 10px #c5c4c4;
    border-radius: 10px;
    z-index: 3;
    min-height: 300px; }
    .header__menu-item {
      padding: 10px 30px 10px 30px;
      min-width: 150px;
      text-align: left; }
      .header__menu-item:first-child {
        padding-left: 30px; }
      .header__menu-item:hover {
        transform: none;
        font-weight: 400; }
  .header__cart-body:before {
    right: 80px; }

  .bradcrumb__container {
    background: #3840ad;
    color: #b1b6ff; }

  .product-item {
    flex: 1 1 32%; }

  .hamburger__group {
    flex: 0 0 48%; }

  .callback__item div {
    margin: 0 30px 0 20px; } }
@media (max-width: 540px) {
  .header__top {
    padding: 10px; }
  .header__menu {
    top: 20px;
    right: 5px; }
  .header__brand {
    font-size: 1.8rem; }

  .product-item {
    flex: 1 0 90%;
    margin: 10px 0; }
  .product-box {
    margin: 0; }

  .bradcrumb {
    margin: 0 0 40px 0; }

  .hamburger__desc {
    font-size: 1.5rem; }
  .hamburger__group {
    flex: 0 0 98%;
    border-bottom: 1px solid #4e5fc0; }
  .hamburger__element input {
    left: 10%;
    transform: scale(1.7); }
  .hamburger__total {
    font-size: 1rem; }
    .hamburger__total-price {
      font-size: 1.1rem; }
    .hamburger__total-calories {
      line-height: 1rem; }
    .hamburger__total-order {
      font-size: 1.1rem; }

  .callback__form {
    padding-left: 0; }
  .callback__item div {
    margin: 0 10px 0 20px; }

  .footer {
    font-size: 0.8rem; }

  .cart__grid {
    display: grid;
    grid-template-columns: 120px 55px 65px 85px 20px;
    grid-template-rows: 25px;
    align-items: center; } }

/*# sourceMappingURL=style.css.map */
